{
    "openapi": "3.0.0",
    "info": {
        "title": "Oneloop API",
        "version": "1.0.0",
        "description": "API Key Management"
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "servers": [
        {
            "url": "https://prod.oneloop.ai",
            "description": "Production server"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "Workspace": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "teamId": {
                        "type": "string"
                    },
                    "defaultKeyPrefix": {
                        "type": "string",
                        "nullable": true
                    },
                    "defaultAllowedIPs": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "defaultExpiration": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "teamId",
                    "defaultKeyPrefix",
                    "defaultAllowedIPs",
                    "defaultExpiration",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "CreateWorkspaceResponse": {
                "type": "object",
                "properties": {
                    "workspace": {
                        "$ref": "#/components/schemas/Workspace"
                    }
                },
                "required": [
                    "workspace"
                ]
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "number",
                                "minimum": 0,
                                "exclusiveMinimum": true
                            },
                            "message": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "code",
                            "message"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "CreateWorkspaceRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "RetrieveWorkspaceResponse": {
                "type": "object",
                "properties": {
                    "workspaces": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Workspace"
                        }
                    }
                },
                "required": [
                    "workspaces"
                ]
            },
            "RetrieveWorkspaceByIdResponse": {
                "type": "object",
                "properties": {
                    "workspace": {
                        "$ref": "#/components/schemas/Workspace"
                    }
                },
                "required": [
                    "workspace"
                ]
            },
            "UpdateWorkspaceResponse": {
                "type": "object",
                "properties": {
                    "workspace": {
                        "$ref": "#/components/schemas/Workspace"
                    }
                },
                "required": [
                    "workspace"
                ]
            },
            "WorkspaceScope": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "representation": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "representation",
                    "description",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "RetrieveAllWorkspaceScopesResponse": {
                "type": "object",
                "properties": {
                    "scopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/WorkspaceScope"
                        }
                    }
                },
                "required": [
                    "scopes"
                ]
            },
            "CreateWorkspaceScopeResponse": {
                "type": "object",
                "properties": {
                    "scope": {
                        "$ref": "#/components/schemas/WorkspaceScope"
                    }
                },
                "required": [
                    "scope"
                ]
            },
            "CreateWorkspaceScopeRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "representation": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "representation"
                ]
            },
            "ApiKeyScope": {
                "type": "object",
                "properties": {
                    "representation": {
                        "type": "string"
                    },
                    "create": {
                        "type": "boolean"
                    },
                    "read": {
                        "type": "boolean"
                    },
                    "update": {
                        "type": "boolean"
                    },
                    "del": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "representation",
                    "create",
                    "read",
                    "update",
                    "del"
                ]
            },
            "ApiKey": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "maskedKey": {
                        "type": "string"
                    },
                    "prefix": {
                        "type": "string",
                        "nullable": true
                    },
                    "expiresAt": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "totalUsageLeft": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "limitUsage": {
                        "type": "boolean"
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiKeyScope"
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "deleted": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "maskedKey",
                    "prefix",
                    "expiresAt",
                    "totalUsageLeft",
                    "limitUsage",
                    "scopes",
                    "enabled",
                    "deleted",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "CreateApiKeyResponse": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiKey"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        ]
                    }
                },
                "required": [
                    "apiKey"
                ]
            },
            "CreateApiKeyRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "workspaceId": {
                        "type": "string"
                    },
                    "prefix": {
                        "type": "string"
                    },
                    "expiresAt": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "totalUsageAllowed": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiKeyScope"
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "name",
                    "workspaceId",
                    "scopes",
                    "enabled"
                ]
            },
            "RetrieveApiKeysResponse": {
                "type": "object",
                "properties": {
                    "apiKeys": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiKey"
                        }
                    }
                },
                "required": [
                    "apiKeys"
                ]
            },
            "RetrieveApiKeyByIdResponse": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "$ref": "#/components/schemas/ApiKey"
                    }
                },
                "required": [
                    "apiKey"
                ]
            },
            "VerifyApiKeyResponse": {
                "type": "object",
                "properties": {
                    "expiresAt": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true
                    },
                    "requestedScopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiKeyScope"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "VALID",
                            "EXPIRED",
                            "DISABLED",
                            "DELETED",
                            "RATE_LIMITED",
                            "USAGE_LIMITED",
                            "INVALID_SCOPES",
                            "INVALID"
                        ]
                    }
                },
                "required": [
                    "expiresAt",
                    "requestedScopes",
                    "status"
                ]
            },
            "VerifyApiKeyRequest": {
                "type": "object",
                "properties": {
                    "workspaceId": {
                        "type": "string"
                    },
                    "key": {
                        "type": "string"
                    },
                    "requestedScopes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiKeyScope"
                        }
                    }
                },
                "required": [
                    "workspaceId",
                    "key",
                    "requestedScopes"
                ]
            },
            "RotateApiKeyResponse": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiKey"
                            },
                            {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "key"
                                ]
                            }
                        ]
                    }
                },
                "required": [
                    "apiKey"
                ]
            },
            "DeleteApiKeyResponse": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "$ref": "#/components/schemas/ApiKey"
                    }
                },
                "required": [
                    "apiKey"
                ]
            },
            "RefillApiKeyResponse": {
                "type": "object",
                "properties": {
                    "apiKey": {
                        "$ref": "#/components/schemas/ApiKey"
                    }
                },
                "required": [
                    "apiKey"
                ]
            },
            "RefillApiKeyRequest": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true
                    }
                },
                "required": [
                    "amount"
                ]
            }
        },
        "parameters": {}
    },
    "paths": {
        "/api/v1/workspace": {
            "post": {
                "operationId": "createWorkspace",
                "summary": "Create a workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The created workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "getWorkspace",
                "summary": "Retrieve a workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveWorkspaceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}": {
            "get": {
                "operationId": "getWorkspaceById",
                "summary": "Retrieve a workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveWorkspaceByIdResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateWorkspace",
                "summary": "Updates a workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspaceResponse"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateWorkspaceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/scopes": {
            "get": {
                "operationId": "getWorkspaceScopes",
                "summary": "Retrieve workspace scopes",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace scopes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveAllWorkspaceScopesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/scope": {
            "post": {
                "operationId": "createWorkspaceScopes",
                "summary": "Create a workspace scope",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspaceScopeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The created scope",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceScopeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/api-key": {
            "post": {
                "operationId": "createApiKey",
                "summary": "Create an API key",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The created key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateApiKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/api-key": {
            "get": {
                "operationId": "getApiKeys",
                "summary": "Retrieve API keys for a workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The API keys",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveApiKeysResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/api-key/{akid}": {
            "get": {
                "operationId": "getApiKeyById",
                "summary": "Retrieve an API key by id",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "description": "The API key id."
                        },
                        "required": true,
                        "name": "akid",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveApiKeyByIdResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteApiKey",
                "summary": "Delets a key for a given workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "description": "The API key id."
                        },
                        "required": true,
                        "name": "akid",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated deleted key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteApiKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/api-key/verify": {
            "post": {
                "operationId": "verifyApiKey",
                "summary": "Verify a key for a given workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The verification result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyApiKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/api-key/{akid}/rotate": {
            "post": {
                "operationId": "rotateApiKey",
                "summary": "Rotate a key for a given workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "description": "The API key id."
                        },
                        "required": true,
                        "name": "akid",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The newly rotated key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RotateApiKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/workspace/{id}/api-key/{akid}/refill": {
            "post": {
                "operationId": "refillApiKey",
                "summary": "Refill a key for a given workspace",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "description": "The workspace id."
                        },
                        "required": true,
                        "name": "id",
                        "in": "path"
                    },
                    {
                        "schema": {
                            "type": "string",
                            "description": "The API key id."
                        },
                        "required": true,
                        "name": "akid",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefillApiKeyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefillApiKeyResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}